* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}
body {
  background-image: url("img/background.jpeg");
  background-size: 115%;
  font-family: "Arial";
  font-size: 22px;
  box-shadow: 0;
  background-attachment: fixed;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}
.item6 {
  grid-area: left;
}
.item7 {
  grid-area: menus;
}
.item8 {
  grid-area: rights;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left left left left left left"
    "main main main right right right"
    "menu menu menu right right right"
    "menus menus menus rights rights rights"
    "footer footer footer footer footer footer";
  background-color: white;
  margin-top: 30px;
}

.grid-container > div {
  background-color: white;
  text-align: left;
  font-size: 30px;
}
.block {
  background-color: white;
  height: 600px;
  width: 80%;
  margin-left: 10%;
}
.Begin {
  background-color: black;
  color: white;
  font-size: 30px;
  width: 180px;
  height: 70px;
  border-radius: 10px;
  margin-left: 700px;
}

.item1 {
  margin-left: 60px;
  margin-top: 50px;
}
.item2 {
  margin-left: 60px;
}
.item3 {
  margin-left: 60px;
}
.item4 {
  margin-left: 60px;
}
.item5 {
  margin-left: 60px;
}
.item6 {
  margin-left: 60px;
}
.item7 {
  margin-left: 60px;
}
.item8 {
  margin-left: 60px;
}

.btn1,
.btn2,
.btn3,
.btnResult {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.title {
  color: #01b4dc;
  font-family: "Arial";
  font-weight: bold;
  margin-left: 100px;
}
.btnBack {
  height: 50px;
  width: 50px;
  background-color: #e7eaeb;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
}
.fas {
  width: 100px;
}
.btnSkip {
  width: 100%;
  background: white;
  font-weight: normal;
  color: #a8a8a8;
  margin-left: 100px;
  cursor: pointer;
}
.question {
  font-family: "Arial";
  margin-bottom: 1em;
  width: 60%;
  overflow: hidden;
  margin-left: 100px;
  min-height: 150px;
}
.btn1 {
  margin-left: 100px;
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
  background-color: rgb(1, 180, 220);
}
